.shop-bar {
    max-width: 100vw;
}
.wrap{
    width:80%;
    flex-wrap: wrap;
}
.shop-bar-wrp {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.shop-sort{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    width:90%;
}